/* .container{
    display: flex;
    justify-content:center;
} */
.text{
    text-align: center;
}
.text2{
    text-align: left;
}
  .perfil1{
    
width: 345;
    border-radius: 345/2;
    
    
}  
/* .location{ */
   
    /* display: grid;
    align-content: space-between; */
   /*  grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-areas:
    "card1 . . card4"
    "card2 . . card4"
    "card3 . . card4"; */
/* } */
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card1;
}
.card3{
    grid-area: card1;
}
.card4{
    grid-area: card1;
}