#upload-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  outline: none; /* Remove the default outline */
  border: 2px solid transparent; /* Add a transparent border */
  transition: border 0.2s ease-in-out; /* Add a smooth transition effect for the border */
}